* {
    margin: 0;
    font-family: 'Gotham Book', sans-serif;
}
html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    display: block;
    overflow: hidden;
}

.out {

}

#dungeon {
    background-color: #000;
}